body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
    justify-content: center;
}

.main_container{
    display: flex;
    min-height: 90vh;
}

.card{
    margin: auto;
    background-color: #FFFFFF;
    padding: 12px;
    width: 300px;
    border-radius: 16px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .08);;
}

img{
    width: 100%;
    border-radius: 10px;
}


.card_title{
    margin: 20px 12px 16px;
    font-size: 22px;
    font-weight: 700;
    color:hsl(218, 44%, 22%);
}

.card_description{
    margin: 0 20px 24px;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}